*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background: linear-gradient( 135deg , #3e0090 , #120128);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inputBox {
  width: 450px;
  height: 70px;
  border-radius: 20px;
  background-color: aliceblue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  appearance: none;
}
.inputBox input{
  margin-left: 10px;
  width: 350px;
  height: 35px;
  background-color: aliceblue;
  outline: none;
  border: none;
  font-size: 30px;
  appearance: none;
}
.inputBox img{
  width: 33px;
  margin-left: 33px;
  cursor: pointer;
}
.inputBox input[type="password"]::-ms-reveal,
.inputBox input[type="password"]::-ms-clear {
  display: none;
}
button{
  background-color: aliceblue;
  color: #120128;
  width: 370px;
  height: 50px;
  margin-top: 30px;
  font-size: 25px;
  /* margin-right: 40px; */
  border-radius: 10px;

}